@model Jsos3.Groups.ViewModels.Models.StudentIndexViewModel

@{
    ViewBag.Title = "Grupy studenta";
}

<select>
    @foreach (var semester in Model.Semesters)
    {
        <option value="@semester">@semester</option>
    }
</select>

<div class="accordion">
    @foreach (var course in Model.Courses)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="course-@course.Id-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#course-@course.Id" aria-expanded="false" aria-controls="course-@course.Id">
                    @course.Name
                </button>
            </h2>

            <div id="course-@course.Id" class="accordion-collapse collapse" aria-labelledby="course-@course.Id-header">
                <div class="accordion-body" style="display: flex; align-items: center; justify-content: center; flex-direction: row;">
                    @foreach (var group in course.Groups)
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@group.Type</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@group.Lecturer</h6>
                                <p class="card-text">
                                    <div>@group.DayOfTheWeek</div>
                                    <div>@group.StartTime - @group.EndTime</div>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>