@using Jsos3.WeeklyPlan.Models
@model Jsos3.WeeklyPlan.ViewModels.Models.WeeklyPlanIndexViewModel

@{
    var week = Model.Week;
}

<div style="display: flex; flex-direction: row; width:100%">
    @foreach (var day in week.Days)
    {
        var todayGroups = Model.Occurences.GetValueOrDefault(day) ?? new List<WeeklyPlanDto>();
        <div style="display: flex; flex-direction: column;">
            <h3>@day.DayOfWeek</h3>
            <div style="display: flex; flex-direction: column;">
                @foreach (var hour in week.Hours)
                {
                    <div style="display: flex; flex-direction: row;">
                        @if(day.DayOfWeek == DayOfWeek.Monday)
                        {
                            <span>@hour.ToString("hh\\:mm")</span>
                        }
                        <div style="display: flex; flex-direction: column;">
                            <div class="card" style="width: 18rem; height: 10rem; overflow:auto; display: flex; flex-direction: row;">
                                @foreach (var group in todayGroups)
                                {
                                    if (group.StartTime <= hour && group.EndTime > hour.Add(week.TimeGap))
                                    {
                                        <div class="card-body">
                                            <h5 class="card-title">@group.Course</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">@group.Lecturer</h6>
                                            <p class="card-text">@group.Classroom</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>


    }
</div>