@model GradeIndexViewModel
@using Jsos3.Grades.VievModels
@using Jsos3.Grades.Models

@{
    ViewBag.Title = "Grupy studenta";
}
<!--/StudentGrade?groupId=3fb7106c-d9e5-40f4-9-->

<div>
    <h3>Oceny Wybrana Grupa</h3>
    <table class ="table">
        <tr>
            <th>Opis</th>
            <th>Ocena</th>
            <th>Kategoria</th>
            <th>Akceptacja</th>
        </tr>
        @foreach (var grade in Model.Grade)
        {
            <tr>
                <td>@grade.Text</td>
                <td class="text-center">@grade.Grade</td>
                <td class="text-center">@grade.IsFinal</td>
                @if (grade.IsFinal == GradeType.Cząstkowa)
                    {
                    <td class="text-center">--</td>
                }
                else
                {
                    if(grade.Accepted == true)
                    {
                        <td class="text-center">Zaakceptowano</td>
                    }
                    else if (grade.Accepted == null)
                    {
                        <td class="text-center">
                            <button type="button" class="btn btn-outline-success" onclick="accept(@grade.Id)">Akceptuj</button>
                            <button type="button" class="btn btn-outline-danger" onclick="decline(@grade.Id)">Reklamuj</button>
                        </td>
                    }
                    else
                    {
                        <td class="text-center">Zareklamowano</td>
                    }
                }
            </tr>
        }
    </table>
</div>

<script>
    async function accept(gradeId) {
        try {
            await fetch('/StudentGrade/Accept', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(gradeId),
            })
            window.location.reload();
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function decline(gradeId) {
        try {
            await fetch('/StudentGrade/Decline', {
                method:"POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(gradeId),
            })
            window.location.reload();
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>