@using Jsos3.LecturerInformations.Infrastructure.Models
@model Jsos3.LecturerInformations.ViewModels.LecturerInformationIndexViewModel
@{
    ViewBag.Title = "Lista Prowadzących";
    var startNumber = Model.PageNumber == 1 ? 1 : Model.PageNumber - 1;
    var numberOfPages = Model.NumberOfPages == 0 ? 1 : Model.NumberOfPages;
}

<h1>Wyszukaj prowadzącego</h1>

<div class="search">
    <div class="form-group">
        <label for="searchTerm">Filtruj:</label>
        <input type="text" placeholder="Adam Kowalski..." id="searchTerm" name="searchTerm" class="form-control" />
    </div>
    <div style="display: flex; align-items: flex-end">
        <button class="btn btn-primary" onclick="search()">Search</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Telefon</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var lecturer in Model.LecturersData)
        {
            <tr>
                <td>@lecturer.Name</td>
                <td>@lecturer.Surname</td>
                <td>
                    @foreach (var email in lecturer.Emails)
                    {
                        <p>@email</p>
                    }
                </td>
                <td>
                    @foreach (var phone in lecturer.Phones)
                    {
                        <p>@phone</p>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<nav class="table-footer">
    <ul class="pagination">
        <li class="page-item @(@Model.PageNumber == 1 ? "disabled" : null)">
            <a class="page-link" onclick="changePage(@Model.PageNumber - 1)" href="#">Poprzednia</a>
        </li>

        @foreach (var pageNumber in Enumerable.Range(startNumber, 3))
        {
            if (pageNumber > numberOfPages)
            {
                break;
            }
            <li class="page-item @(@pageNumber == Model.PageNumber ? "active" : null)">
                <a class="page-link" onclick="changePage(@pageNumber)" href="#">@pageNumber</a>
            </li>
        }
        
        <li class="page-item @(@Model.PageNumber == numberOfPages ? "disabled" : null)">
            <a class="page-link" onclick="changePage(@Model.PageNumber + 1)" href="#">Następna</a>
        </li>
    </ul>
</nav>

<script>
    const searchTermInput = document.getElementById('searchTerm');
    const queryParams = new URLSearchParams(window.location.search);

    if (queryParams.has('searchTerm')) {
        searchTermInput.value = queryParams.get('searchTerm');
    }

    function search() {
        const searchTerm = searchTermInput.value;
        if (!!searchTerm) {
            queryParams.set('searchTerm', searchTerm);
        } else {
            queryParams.delete('searchTerm');
        }
        window.location.search = queryParams.toString();
    }

    function changePage(pageNumber) {
        queryParams.set('pageNumber', pageNumber);
        window.location.search = queryParams.toString();
    }
</script>