@model Jsos3.Authorization.ViewModels.ChangePasswordViewModel


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Zmień hasło
                </div>
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var value in ViewData.ModelState.Values)
                                {
                                    foreach (var error in value.Errors)
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    @using (Html.BeginForm("ChangePassword", "Authorization", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Stare hasło" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nowe hasło" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.NewPasswordRepeat, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.NewPasswordRepeat, new { @class = "form-control", placeholder = "Powtórz nowe hasło" })
                            @Html.ValidationMessageFor(m => m.NewPasswordRepeat, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Zmień hasło</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>