@model Jsos3.Authorization.ViewModels.LoginViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Logowanie
                </div>
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var value in ViewData.ModelState.Values)
                                {
                                    foreach (var error in value.Errors)
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                }
                            </ul>
                        </div>
                    }

                    @using (Html.BeginForm("Login", "Authorization", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            @Html.LabelFor(m => m.Login, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Nazwa użytkownika" })
                            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Zaloguj się</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
